<% if @matchup %>
  <div class="card">
    <div class="card-image"><%= image_tag @matchup.card.image_url %></div>
    <h3 class="answer-text"><%= @matchup.card.answer_text %></h3>
    <h3 class="hint-text"><%= @matchup.card.hint_text %></h3>
    <%= link_to "#{ @other_student.first_name } is correct!", scores_path(score: { matchup_id: @matchup, student_id: @other_student, points: 1 }), method: 'post' %>
    <p>You vs <%= @other_student.full_name %> for round <%= @matchup.round.round_number %></p>
  </div>
  <% content_for :head_tags do %>
    <meta http-equiv="refresh" content="1">
  <% end %>
<% else %>
  <h1>Waiting for everyone to join...</h1>
  <% content_for :head_tags do %>
    <meta http-equiv="refresh" content="1">
  <% end %>
<% end %>
