<% if current_game.game_over? %>
  <h1>Game <%= current_game.id %> is complete!</h1>
  <%= link_to 'Start a new game...', new_game_path, class: 'btn btn-primary' %>
<% else %>
  <% if current_game.current_round_number == 0 %>
    <h1>Get ready...</h1>
  <% else %>
    <h1>Game <%= current_game.id %> is in play!</h1>
    <h2>Round <%= current_game.current_round_number %></h2>
    <% content_for :head_tags do %>
      <meta http-equiv="refresh" content="5">
    <% end %>
  <% end %>
<% end %>

<%#= render :partial => 'old_scoreboard' %>

<h3>Scoreboard</h3>
<table class="scoreboard">
  <thead>
    <tr>
      <td>Student</td>
      <% current_game.cardset.cards.count.times do %><td></td><% end %>
    </tr>
  </thead>

  <% current_game.participations.each do |participation| %>
    <% student = participation.student %>

    <tr class="score-row">
      <td><%= student.full_name %></td>
      <% current_game.cardset.cards.each do |card| %>
        <td><%= current_game.scores.select { |score| score.student == student && score.matchup.card == card }.map(&:points).sum %></td>
      <% end %>
    </tr>
  <% end %>

  <tr>
    <td>Words</td>
    <% current_game.cardset.cards.each do |card| %>
      <td class="image"><%= image_tag card.image_url %></td>
    <% end %>
  </tr>
</table>
