<h1><%= @game.section.name %></h2>
<h2>Game #<%= @game.id %></h2>
<% @game.participations.sort_by(&:id).each do |participation| %>
  <p class="participation">
    <%= participation.student.first_name %> <%= participation.student.last_name %>:
    <span class="shortcode"><%= participation.shortcode %></span>
    <% if participation.connected_at %>
      <span class="connected text-success">Connected!</span>
    <% else %>
      <span class="waiting text-warning">(Waiting...)</span>
    <% end %>
  </p>
<% end %>


<% if params[:refresh] %>
  <div class="waiting">
    <%= image_tag 'spinner.gif' %>
  </div>
  <% content_for :head_tags do %>
    <meta http-equiv="refresh" content="2">
  <% end %>
<% else %>
  <%= link_to "Refresh Live", connecting_game_path(@game.id, refresh: true), class: 'btn btn-primary' %>
<% end %>
