<!DOCTYPE html>
<html>
<head>
  <title>SlcSample2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<body class="<%= body_class %>">

<div class="container">
  <%= render partial: 'shared/flashes' %>
  <%= yield %>


  <footer class="row">
  <hr>
    <p>&copy; ChinaFlash 2013</p>
    <% if signed_in? %>
      <section>
        <p>Signed in as teacher local id #<%= current_teacher.try(:id) %></p>
        <a href="/sign_out">Sign Out</a>
      </section>
    <% end %>
  </footer>
</div>

<%= javascript_include_tag "application" %>
<%= yield :javascript %>

</body>
